body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}


.nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dadada;
    padding: 0 2vw;
    box-sizing: border-box;
}

.nav h2{
    margin: 2vw;
    font-size: 2.4vw;
}

.nav div{
    display: flex;
    gap: 4vw;
    font-size: 1vw;
    align-items: center;
    padding-right: 0;
}

.nav div i {
    display: none;
}

.content {
    height: 50vw;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.right {
    height: 100%;
    width: 50%;
    padding: 5vw 4vw;
}

.right h1 {
    margin: 0;
    font-size: 4.2vw;
    line-height: 4.4vw;
}

.right h1 span {
    color: lightseagreen;
}

.right p {
    font-size: 1vw;
    font-weight: 600;
    color: #666;
    width: 60%;
    margin: 3vw 0;
}

.left {
    height: 100%;
    width: 50%;
}

.left img {
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.Enroll{
    font-size: 1.5vw;
    padding: 1.1vw 2.2vw;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Enroll:hover {
    background-color: darkseagreen;
}

.sign{
    font-size: 1vw;
    padding: 0.6vw 1.4vw;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign:hover {
    background-color: darkseagreen;
}


@media (max-width:600px) {
    .nav{
        height: 15vw;
        padding: 0 5vw;
    }

    .nav h2{
        font-size: 7vw;
        width: 50%;
    }

    .nav-content {
        display: none;
    }

    .nav div i {
        font-size: 6vw;
        display: block;
    }

    .content {
        height: 700px;
        flex-direction: column;
    }

    .right {
        width: 100%;
        height: 50%;
        padding: 5vw 2vw;
    }

    .right h1 {
        font-size: 10vw;
        line-height: 12vw;
    }

    .right p {
        font-size: 4vw;
        width: 75%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }

    .Enroll {
        padding: 3vw 6vw;
        font-size: 3.5vw;
    }

    .left {
        height: 50%;
        width: 100%;
        margin-left: 0;
    }

    .sign {
        display: none;
    }
}
